################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ItemEyes/bin/Debug/net5.0
/ItemEyes/obj
